.header-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.header-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.header-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.header-text {
  width: auto;
  height: auto;
  font-size: 26px;
  font-style: normal;
  font-family: "Spectral";
  font-weight: 600;
}
.header-links {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: 975px;
  height: 25px;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: flex-end;
}
.header-land-link {
  text-align: right;
  text-decoration: none;
}
.header-about-link {
  text-decoration: none;
}
.header-blog-link {
  text-decoration: none;
}
.header-buttons {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
}
.header-burger-menu {
  display: none;
}
.header-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-light);
}
.header-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.header-image {
  width: 200px;
  object-fit: cover;
}
.header-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-links1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.header-land-link1 {
  text-decoration: none;
}
.header-about-link1 {
  text-decoration: none;
}
.header-blog-link1 {
  text-decoration: none;
}
@media(max-width: 1200px) {
  .header-links {
    flex-direction: row;
    justify-content: flex-end;
  }
}
@media(max-width: 991px) {
  .header-links {
    width: 757px;
    height: 30px;
  }
  .header-image {
    width: 50px;
    height: 50px;
  }
}
@media(max-width: 767px) {
  .header-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-links {
    width: 487px;
    height: 26px;
  }
  .header-burger-menu {
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .header-navbar-interactive {
    padding: var(--dl-space-space-unit);
    position: relative;
  }
  .header-desktop-menu {
    display: none;
  }
  .header-burger-menu {
    left: 15px;
    right: 25px;
    bottom: 8px;
    display: flex;
    position: absolute;
    align-self: center;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
  .header-icon {
    fill: #D9D9D9;
    height: 16px;
    align-self: flex-start;
    border-color: var(--dl-color-theme-neutral-dark);
    border-width: 1px;
  }
  .header-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
  .header-top {
    margin-bottom: 0px;
  }
  .header-image {
    width: 75px;
    height: 75px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .header-links1 {
    padding-top: var(--dl-space-space-unit);
  }
}

.landing-hero-header78 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.landing-hero-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.landing-hero-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.landing-hero-text {
  text-align: center;
}
.landing-hero-text1 {
  text-align: center;
}
.landing-hero-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.landing-hero-row-container {
  width: 100%;
}
.landing-hero-placeholder-image {
  width: 400px;
  height: 400px;
}
.landing-hero-placeholder-image01 {
  width: 400px;
  height: 400px;
}
.landing-hero-placeholder-image02 {
  width: 400px;
  height: 400px;
}
.landing-hero-placeholder-image03 {
  width: 400px;
  height: 400px;
}
.landing-hero-placeholder-image04 {
  width: 400px;
  height: 400px;
}
.landing-hero-placeholder-image05 {
  width: 400px;
  height: 400px;
}
.landing-hero-placeholder-image06 {
  width: 400px;
  height: 400px;
}
.landing-hero-placeholder-image07 {
  width: 400px;
  height: 400px;
}
.landing-hero-placeholder-image08 {
  width: 400px;
  height: 400px;
}
.landing-hero-placeholder-image09 {
  width: 400px;
  height: 400px;
}
.landing-hero-placeholder-image10 {
  width: 400px;
  height: 400px;
}
.landing-hero-placeholder-image11 {
  width: 400px;
  height: 400px;
}
.landing-hero-row-container1 {
  width: 100%;
}
.landing-hero-placeholder-image12 {
  width: 400px;
  height: 400px;
}
.landing-hero-placeholder-image13 {
  width: 400px;
  height: 400px;
}
.landing-hero-placeholder-image14 {
  width: 400px;
  height: 400px;
}
.landing-hero-placeholder-image15 {
  width: 400px;
  height: 400px;
}
.landing-hero-placeholder-image16 {
  width: 400px;
  height: 400px;
}
.landing-hero-placeholder-image17 {
  width: 400px;
  height: 400px;
}
.landing-hero-placeholder-image18 {
  width: 400px;
  height: 400px;
}
.landing-hero-placeholder-image19 {
  width: 400px;
  height: 400px;
}
.landing-hero-placeholder-image20 {
  width: 400px;
  height: 400px;
}
.landing-hero-placeholder-image21 {
  width: 400px;
  height: 400px;
}
.landing-hero-placeholder-image22 {
  width: 400px;
  height: 400px;
}
.landing-hero-placeholder-image23 {
  width: 400px;
  height: 400px;
}
.landing-hero-container1 {
  display: contents;
}
@media(max-width: 767px) {
  .landing-hero-content1 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .landing-hero-text {
    width: 219px;
    text-align: center;
  }
  .landing-hero-text1 {
    text-align: center;
  }
}

.features-container1 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-fiveunits);
  position: relative;
  grid-template-columns: 1fr 1fr;
}
.features-image-container {
  height: 100%;
  display: flex;
  position: relative;
}
.features-image {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.features-image1 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.features-image2 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.features-tabs-menu {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.features-tab-horizontal {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features-divider-container {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.features-container2 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
.features-content {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.features-tab-horizontal1 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features-divider-container1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.features-container3 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
.features-content1 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.features-tab-horizontal2 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features-divider-container2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.features-container4 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
.features-content2 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
@media(max-width: 991px) {
  .features-container1 {
    grid-gap: var(--dl-space-space-twounits);
    grid-template-columns: 1fr;
  }
}
@media(max-width: 767px) {
  .features-container1 {
    height: 100%;
  }
  .features-image {
    height: 100%;
  }
  .features-image1 {
    height: 100%;
  }
  .features-image2 {
    height: 100%;
  }
}
@media(max-width: 479px) {
  .features-container1 {
    width: 100%;
  }
  .features-image-container {
    height: 250px;
  }
}

.connect-max-width {
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.connect-accent2-bg {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent2);
}
.connect-accent2-bg:hover {
  transform: scale3d(1.1,1.1,1.1);
}
.connect-accent1-bg {
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) skew(0deg, 0deg);
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent1);
}
.connect-container1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-cardradius);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}
.connect-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.connect-container2 {
  flex: 0 0 auto;
  width: 547px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  padding-left: 240px;
  flex-direction: row-reverse;
}
.connect-link {
  display: contents;
}
.connect-link1 {
  gap: 12px;
  width: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.connect-bw-ig {
  fill: var(--dl-color-theme-neutral-dark);
  flex: initial;
  width: 100px;
  height: 100px;
  align-self: center;
  transition: 0.3s;
}
.connect-bw-ig:hover {
  fill: var(--dl-color-theme-primary2);
}
.connect-link2 {
  display: contents;
}
.connect-link3 {
  gap: 12px;
  width: 100px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.connect-bw-fb {
  fill: var(--dl-color-theme-neutral-dark);
  width: 100px;
  height: 100px;
  transition: 0.3s;
}
.connect-bw-fb:hover {
  fill: var(--dl-color-theme-primary2);
}
.connect-link4 {
  display: contents;
}
.connect-link5 {
  gap: 12px;
  width: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.connect-bw-ln {
  fill: var(--dl-color-theme-neutral-dark);
  width: 100px;
  height: 100px;
  transition: 0.3s;
}
.connect-bw-ln:hover {
  fill: var(--dl-color-theme-primary2);
}
@media(max-width: 1600px) {
  .connect-content {
    padding-right: var(--dl-space-space-threeunits);
  }
  .connect-container2 {
    width: 530px;
    margin-left: 0px;
    padding-left: var(--dl-space-space-threeunits);
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
  .connect-link1 {
    width: 120px;
  }
  .connect-bw-ig {
    flex: 0 0 auto;
  }
  .connect-link3 {
    width: 120px;
  }
  .connect-bw-fb {
    flex: 0 0 auto;
  }
  .connect-link5 {
    width: 120px;
  }
  .connect-bw-ln {
    flex: 0 0 auto;
  }
}
@media(max-width: 1200px) {
  .connect-text1 {
    width: 316px;
  }
  .connect-container2 {
    width: 351px;
    padding-left: 0px;
  }
}
@media(max-width: 991px) {
  .connect-container {
    align-items: flex-start;
    flex-direction: column;
  }
  .connect-container1 {
    width: 100%;
  }
  .connect-content {
    width: 350px;
    height: 129px;
    align-self: center;
    padding-right: var(--dl-space-space-twounits);
  }
  .connect-text {
    align-self: center;
  }
  .connect-text1 {
    width: 274px;
    align-self: center;
    text-align: left;
  }
  .connect-container2 {
    width: 275px;
    padding-left: 0px;
  }
}
@media(max-width: 767px) {
  .connect-container {
    margin-top: var(--dl-space-space-fiveunits);
  }
  .connect-container1 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .connect-content {
    width: 350px;
    align-self: center;
    padding-right: 0px;
  }
  .connect-text {
    align-self: center;
  }
  .connect-text1 {
    width: 307px;
    height: 45px;
    align-self: center;
  }
  .connect-container2 {
    flex: 1;
    width: 342px;
    align-self: center;
  }
  .connect-link1 {
    width: 103px;
  }
  .connect-bw-ig {
    top: -50px;
    right: -50px;
  }
  .connect-bw-fb {
    top: -50px;
    left: -50px;
  }
  .connect-bw-ln {
    top: -50px;
    left: 0px;
  }
}
@media(max-width: 479px) {
  .connect-max-width {
    margin-top: var(--dl-space-space-twounits);
  }
  .connect-container1 {
    height: 407px;
  }
  .connect-text1 {
    width: 314px;
    height: 49px;
    align-self: center;
  }
  .connect-container2 {
    width: 300px;
    align-self: center;
  }
  .connect-link1 {
    width: 92px;
  }
  .connect-link3 {
    width: 110px;
  }
  .connect-bw-fb {
    top: -50px;
    left: -25px;
  }
  .connect-link5 {
    width: 110px;
  }
  .connect-bw-ln {
    top: -50px;
    left: 0px;
  }
}

.footer-footer1 {
  width: 100%;
  height: 160px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.footer-max-width {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-credits {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.footer-column1 {
  gap: var(--dl-space-space-unit);
  width: 390px;
  display: flex;
  overflow: hidden;
  max-width: 300px;
  align-self: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-footer-links {
  gap: var(--dl-space-space-halfunit);
  width: 426px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-link1 {
  text-align: left;
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link1:hover {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
}
.footer-link2 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link2:hover {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
}
.footer-link4 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link4:hover {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
}
@media(max-width: 1200px) {
  .footer-content3 {
    align-self: flex-start;
    text-align: center;
  }
}
@media(max-width: 767px) {
  .footer-column1 {
    align-items: center;
  }
  .footer-column1-title {
    align-self: flex-start;
    text-align: center;
  }
  .footer-footer-links {
    align-self: center;
  }
  .footer-container {
    width: 237px;
    height: 21px;
    align-self: flex-start;
    margin-left: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .footer-credits {
    gap: 0;
  }
  .footer-column1 {
    width: 459px;
    max-width: 100%;
    align-items: center;
    margin-bottom: var(--dl-space-space-unit);
    justify-content: center;
  }
  .footer-column1-title {
    align-self: center;
    text-align: center;
  }
  .footer-footer-links {
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .footer-container {
    align-self: center;
    align-items: center;
    margin-left: 0px;
    justify-content: center;
  }
  .footer-content3 {
    align-self: center;
  }
}

.landing-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
