.connect-max-width {
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.connect-accent2-bg {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent2);
}
.connect-accent2-bg:hover {
  transform: scale3d(1.1,1.1,1.1);
}
.connect-accent1-bg {
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) skew(0deg, 0deg);
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent1);
}
.connect-container1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-cardradius);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}
.connect-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.connect-container2 {
  flex: 0 0 auto;
  width: 547px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  padding-left: 240px;
  flex-direction: row-reverse;
}
.connect-link {
  display: contents;
}
.connect-link1 {
  gap: 12px;
  width: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.connect-bw-ig {
  fill: var(--dl-color-theme-neutral-dark);
  flex: initial;
  width: 100px;
  height: 100px;
  align-self: center;
  transition: 0.3s;
}
.connect-bw-ig:hover {
  fill: var(--dl-color-theme-primary2);
}
.connect-link2 {
  display: contents;
}
.connect-link3 {
  gap: 12px;
  width: 100px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.connect-bw-fb {
  fill: var(--dl-color-theme-neutral-dark);
  width: 100px;
  height: 100px;
  transition: 0.3s;
}
.connect-bw-fb:hover {
  fill: var(--dl-color-theme-primary2);
}
.connect-link4 {
  display: contents;
}
.connect-link5 {
  gap: 12px;
  width: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.connect-bw-ln {
  fill: var(--dl-color-theme-neutral-dark);
  width: 100px;
  height: 100px;
  transition: 0.3s;
}
.connect-bw-ln:hover {
  fill: var(--dl-color-theme-primary2);
}
@media(max-width: 1600px) {
  .connect-content {
    padding-right: var(--dl-space-space-threeunits);
  }
  .connect-container2 {
    width: 530px;
    margin-left: 0px;
    padding-left: var(--dl-space-space-threeunits);
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
  .connect-link1 {
    width: 120px;
  }
  .connect-bw-ig {
    flex: 0 0 auto;
  }
  .connect-link3 {
    width: 120px;
  }
  .connect-bw-fb {
    flex: 0 0 auto;
  }
  .connect-link5 {
    width: 120px;
  }
  .connect-bw-ln {
    flex: 0 0 auto;
  }
}
@media(max-width: 1200px) {
  .connect-text1 {
    width: 316px;
  }
  .connect-container2 {
    width: 351px;
    padding-left: 0px;
  }
}
@media(max-width: 991px) {
  .connect-container {
    align-items: flex-start;
    flex-direction: column;
  }
  .connect-container1 {
    width: 100%;
  }
  .connect-content {
    width: 350px;
    height: 129px;
    align-self: center;
    padding-right: var(--dl-space-space-twounits);
  }
  .connect-text {
    align-self: center;
  }
  .connect-text1 {
    width: 274px;
    align-self: center;
    text-align: left;
  }
  .connect-container2 {
    width: 275px;
    padding-left: 0px;
  }
}
@media(max-width: 767px) {
  .connect-container {
    margin-top: var(--dl-space-space-fiveunits);
  }
  .connect-container1 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .connect-content {
    width: 350px;
    align-self: center;
    padding-right: 0px;
  }
  .connect-text {
    align-self: center;
  }
  .connect-text1 {
    width: 307px;
    height: 45px;
    align-self: center;
  }
  .connect-container2 {
    flex: 1;
    width: 342px;
    align-self: center;
  }
  .connect-link1 {
    width: 103px;
  }
  .connect-bw-ig {
    top: -50px;
    right: -50px;
  }
  .connect-bw-fb {
    top: -50px;
    left: -50px;
  }
  .connect-bw-ln {
    top: -50px;
    left: 0px;
  }
}
@media(max-width: 479px) {
  .connect-max-width {
    margin-top: var(--dl-space-space-twounits);
  }
  .connect-container1 {
    height: 407px;
  }
  .connect-text1 {
    width: 314px;
    height: 49px;
    align-self: center;
  }
  .connect-container2 {
    width: 300px;
    align-self: center;
  }
  .connect-link1 {
    width: 92px;
  }
  .connect-link3 {
    width: 110px;
  }
  .connect-bw-fb {
    top: -50px;
    left: -25px;
  }
  .connect-link5 {
    width: 110px;
  }
  .connect-bw-ln {
    top: -50px;
    left: 0px;
  }
}
