.wip-placeholder-container {
  width: 100%;
  height: 503px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent2);
}
.wip-placeholder-container1 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.wip-placeholder-text1 {
  font-size: 50px;
  align-self: center;
}


@media(max-width: 991px) {
  .wip-placeholder-text1 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .wip-placeholder-container1 {
    width: 100%;
  }
  .wip-placeholder-text1 {
    text-align: center;
  }
}
